## General
WEBSTORE_CLIENT_ID=id
WEBSTORE_CLIENT_SECRET=secret
WEBSTORE_REFRESH_TOKEN=token
WEBSTORE_PUBLIC_ID=id
WEBSTORE_INTERNAL_ID=id
SLACK=no
SLACK_HOOK=url
ONESKY_PROJECT_ID=id

## UI Tests

# Default wait time for finding elements
WAIT_TIME=3000

# Credentials
TEST_USERNAME=username
TEST_PASSWORD=password

# Extension identifier
EXTENSION_ID=id
MANIFEST_KEY=key
