.remember-me-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 25px;
  overflow-y: visible;

  .checkbox-container { flex: auto 0 0; }

  .checkbox-label {
    flex: auto 0 0;
    font-weight: normal;
    padding-left: 10px;
    cursor: pointer;
  }

  .popover {
    position: relative;
    &.arrow-right { top: -3px; } // manual adjustment for remember me label popover
  }
}
