html {
  ::-webkit-scrollbar { width: 6px; }
  ::-webkit-scrollbar-track { background: transparent; }
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: $grey55;
  }
  .onboarding-page {
    padding: 0px;
    margin: 0px -30px;
    margin-top: -10px;
    background-image: url(../images/light_background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    .bullets-skip {
      display: flex;
      justify-content: space-between;
      text-align: center;
      .btn-skip {
        margin: 5px 20px;
        min-width: 70px;
        display: inline-block;
        font-size: 10pt;
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        border: 0;
        border-radius: 50px;
        padding: 6px 12px;
        line-height: 1.428571429;
        user-select: none;
        background-color: #f1f1f1;
        border: 1px solid $green;
        color: $green;
        &:focus {
          outline: 0;
        }
        &:hover {
          opacity: 0.8;
        }
      }
      .btn-next {
        margin: 5px 20px;
        min-width: 70px;
        display: inline-block;
        font-size: 10pt;
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        border: 0;
        border-radius: 50px;
        padding: 6px 12px;
        line-height: 1.428571429;
        user-select: none;
        background-color: $green;
        border: 1px solid #979797;
        color: white;
        &:focus {
          outline: 0;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .first {
      .image-container {
        img {
          display: flex;
          padding-top: 80px;
          margin-left: 120px;
          width: 80px;
          height: auto;
        }
      }
  
      .onboarding-options {
        margin-bottom: 15px;
      }
      .onboarding-disclaimers {
        padding-top: 20px;
        p {
          color: $grey55;
        }
        text-align: center;
        line-height: 0.8em;
        h3 {
          font-size: 18px;
          font-weight: 400;
          color: $grey15;
        }
      }
      .onboarding-message {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        p {
          color: $grey55;
        }
      }
      &.dark {
        .onboarding-disclaimers {
          h3 {
            color: white;
          }
        }
      }
  
      .onboarding-options-button {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: auto;
        button {
          min-width: 250px;
          background-color: $green;
          :focus {
            outline: 0;
          }
        }
      }
    }
  
    //SECOND SLIDE
    .second {
      .top-disclaimers {
        text-align: center;
        padding-top: 85px;
        line-height: 0.8;
        p {
          color: $grey55;
        }
        h3 {
          font-size: 18px;
          font-weight: 400;
          color: $grey15;
        }
  
        &.dark {
          h3 {
            color: white;
          }
        }
      }
  
      .middle-disclaimers {
        text-align: center;
        margin-top: 40px;
        p {
          color: $grey55;
          line-height: 0.8;
        }
      }
  
      .theme-buttons {
        display: inline-block;
        text-align: center;
        margin: auto;
        padding: 20px;
        .btn-dark {
          margin: 5px;
          min-width: 250px;
          display: inline-block;
          font-size: 10pt;
          font-weight: normal;
          text-align: left;
          white-space: nowrap;
          vertical-align: middle;
          touch-action: manipulation;
          cursor: pointer;
          border: 0;
          border-radius: 50px;
          padding: 8px 12px;
          line-height: 1.428571429;
          user-select: none;
          background-color: #979797;
          border: 1px solid #979797;
          color: #1e2025;
          span.icon {
            float: right;
            margin-right: 5px;
            img {
              width: 15px;
              height: auto;
              margin-bottom: -3px;
            }
          }
          &:focus {
            outline: 0;
          }
          &:hover {
            opacity: 0.8;
          }
        }
  
        .btn-white {
          margin: 5px;
          min-width: 250px;
          display: inline-block;
          font-size: 10pt;
          font-weight: normal;
          text-align: left;
          white-space: nowrap;
          vertical-align: middle;
          touch-action: manipulation;
          cursor: pointer;
          border: 0;
          border-radius: 50px;
          padding: 8px 12px;
          line-height: 1.428571429;
          user-select: none;
          background-color: #f1f1f1;
          border: 1px solid #585d6f;
          color: #1e2025;
          &:focus {
            outline: 0;
          }
          &:hover {
            opacity: 0.8;
          }
          span.icon {
            float: right;
            margin-right: 5px;
            img {
              width: 15px;
              height: auto;
              margin-bottom: -3px;
            }
          }
        }
  
        &.dark {
          .btn-dark {
            background-color: #1e2025;
            border: 1px solid #979797;
            color: white;
          }
  
          .btn-white {
            background-color: #3a3f50;
            border: 1px solid #585d6f;
            color: white;
          }
        }
      }
  
      &.de {
        .middle-disclaimers {
          margin-left:30px;
          margin-right:30px;
        }
  
        .theme-buttons {
          .btn-skip{
            font-size: 5px;
          }
        }
      }
  
      &.ja{
        .middle-disclaimers {
          margin-left:40px;
          margin-right:40px;
        }
      }
    }
  
    .third {
      overflow: auto;
      .top-disclaimers {
        text-align: center;
        padding-top: 50px;
        line-height: 0.8;
        p {
          color: $grey55;
        }
        h3 {
          font-size: 18px;
          font-weight: 400;
          color: $grey15;
        }
  
        &.dark {
          p {
            color: $grey55;
          }
          h3 {
            color: white;
          }
        }
        
      }
    }
    /* IMAGE CAROUSEL */
  
    #carousel {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 20px auto;
    }
  
    #carousel li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    #carousel input {
      display: none;
    }
    /* Bullets */
    #carousel li .bullet {
      display: flex;
      justify-content: space-between;
      text-align: center;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: white;
      border: 1px solid $green;
      text-align: center;
      // cursor: pointer;
      padding: 0;
      z-index: 999;
    }
    #carousel li input:checked + .bullet {
      background: $green;
      box-shadow: inset 0 0 0 2px #ffffff; /* Separates blue dot from border */
    }
    #carousel li:nth-child(2) .bullet {
      margin-left: -6px;
    }
    #carousel li:nth-child(3) .bullet {
      margin-left: 14px;
    }
    #carousel li:nth-child(1) .bullet {
      margin-left: -30px;
    }
  
    &.dark {
      background-image: url(../images/background.png);
      #carousel li .bullet {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #ffffff;
      }
  
      #carousel li input:checked + .bullet {
        background: #ffffff;
        box-shadow: inset 0 0 0 2px #12171b; /* Separates blue dot from border */
      }
  
      .bullets-skip {
        .btn-skip {
          background-color: #1e2025;
          border: 1px solid #979797;
          color: white;
        }
      }


  
      &.de, &.ru, &.da {
        .bullets-skip {
          .btn-skip {
            font-size:8px;
          }
          .btn-next {
            font-size:9px;
            padding:6px 25px;
          }
        }
        .carousel{
          margin:auto;
        }
      }
  
      &.pt_BR, &.es{
        .bullets-skip {
          .btn-skip {
            font-size:8px;
          }
          .btn-next {
            font-size:9px;
            padding:6px 12px;
          }
        }
        .carousel{
          margin:auto;
        }
      }
    }

    &.firefox{
      height:450px;
    }
  }
}
