.chrome-upgrade-page {
  background-color: $grey92;

  &.dark { background-color: $grey20; }

  .warningicon {
    height: 65px;
    width: 65px;
    background-image: url('../images/warning.svg');
    background-size: 65px 65px;
    margin: 20px auto 0;
  }

  .warningtext {
    color: $red;
    padding: 20px;
    font-size: 10pt;
  }

  .btn-center {
    text-align: center;
    padding-bottom: 20px;
    .btn { min-width: 150px; }
  }
}
