.popular { // need to enforce scoping
  .popular-rule {
    width: 110px;
    padding: 7px 15px 5px;
    border-radius: 25px;
    border: 1px solid $grey85;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &.dark { border: 1px solid $grey15; }

    label {
      font-weight: 400;
      font-size: 10pt;
      margin: 0;
      cursor: pointer;

      &.popular-rule-name {
        line-height: 1;
        text-transform: capitalize;
      }
    }
  }
}
