body {
  height: 100vh;
  width: 100vw;
  display: flex;

  #import-rules-popup {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #import-file-label {
      width: 200px;
      margin-top: 30px;
    }

    #import-file-input {
      display: none;
    }

    #import-error {
      color: red;
      font-size: 1.35rem;
      margin-top: 3px;
    }
  }
}
