.languages-container {
  .languages {
    height: 30px;
    padding: 3px 25px 3px 6px;
    margin: 0;
    border-radius: 1px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    font-size: 9pt;
    color: $grey20;
    background-color: $grey92;
    border: 1px solid $grey85;

    &:hover { border: 1px solid $green-dark20; }

    &.dark {
      color: $white;
      background-color: $grey20;
      border: 1px solid $grey15;
    }
  }
}
