.languages-container {
  margin-bottom: 10px;

  #languages {
    padding: 3px 6px;
    margin: 0;
    border-radius: 1px;
    background: #fff;
    color: #333;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 12px;

    &:hover { border: 1px solid #5cb85c; }
  }
}
