.login-form {
  padding: 0 30px;
  margin: 15px 0px 20px;

  &.dark .text-danger { background-color: $grey20; }

  .text-danger {
    width: 100%;
    border: 1px solid $red;
    border-radius: 4px;
    margin-bottom: 15px;
    background: $grey92;
    background-image: url('../images/settings-warning.svg');
    background-size: 20px;
    background-position: 20px center;
    background-repeat: no-repeat;
    padding: 13px 25px 14px 50px;
    color: $red;
    font-size: 9pt;
  }

  .hidden { display: none; }

  .btn-submit {
    width: 100%;
    height: 31px; // fixed height to keep loader from jumping
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    outline: none;

    .disabled {
      cursor: not-allowed;
      text-decoration: none;
    }
  }
}
