.header {
  .back-row {
    color: $black;
    font-size: 12px;
    overflow: auto;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: solid 1px #F0F0F0;

    .back-icon {
      background-image: url('/images/back_2x.png');
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: 0 0;
      width: 24px;
      height: 24px;
      margin: 4px 0px 10px 20px;

      &:hover {
        cursor: pointer;
        background-position: 0 -24px;
      }
    }

    .upcase { text-transform: uppercase; }

    .text {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 15px;
      color: #555;
      font-weight: 500;
      text-align: center;
    }
  }
}
