div.list-item-latency {
    display: inline-block;
    float: right;
    font-size: 11px;
    color: #999;
    line-height: 2;
    text-align: right;
    width: 55px;
}
div.server-offline-text {
	color: #dd0000;
}
.list-group-item.active .list-item-latency, .list-group-item.active .server-offline-text {
	color: #fff;
}
.regionnamelist {
	max-width: 200px;
    display: inline-block;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}