.settingitem {
  color: #333;

  .settingblock {
    padding: 0px 15px 5px 15px;

    .errorsubline {
      font-size: 10px;
      color: #cc0000;
      margin-top: -4px;
      float: left;
    }
  }

  .checkbox-container {
    float: right;
    text-align: right;
    margin-right: 15px;
    padding-right: 20px;
  }
}
