$switch-width: 100px;//53px;
$switch-height: 50px;//31px;
$switch-thumb-diameter: $switch-height - 8px;
$switch-off-color: #D3382D;
$switch-on-color: #29CC41;
$switch-disabled-color: #29ABE2;

.switch-container {
  text-align: center;

  .switch {
    box-sizing: border-box;
    width: $switch-width;
    height: $switch-height;
    -webkit-appearance: none;
    position: relative;
    border-radius: $switch-height / 2;
    cursor: pointer;
    outline: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $switch-off-color;
    text-transform: uppercase;
    transition-duration: 500ms;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;

    // Thumb
    &::after {
      content: 'OFF';
      width: $switch-thumb-diameter;
      height: $switch-thumb-diameter;
      color: white;
      text-indent: 3.25em;
      line-height: $switch-thumb-diameter;
      font-size: 16px;
      position: absolute;
      border-radius: $switch-thumb-diameter;
      background: white;
      z-index: 2;
      top: 4px;
      left: 4px;
      transition-duration: 250ms;
    }

    // Background tint for ON state
    &:checked { background-color: $switch-on-color; }

    // Thumb for ON state
    &:checked::after {
      content: 'ON';
      -webkit-transform: translate3d(16px, 0, 0);
      right: 20px;
      left: inherit;
      text-indent: -2.25em;
    }

    // Thumb for active state
    &:active::after { width: $switch-height; }
    &:checked::before,
    &:active::before { -webkit-transform: scale(0); }

    // Disabled
    &:disabled {
      cursor: default;
      -webkit-transition: none;
      background-color: $switch-disabled-color;

      &:active::before,
      &:active::after,
      &:checked:active::before,
      &:checked::before { -webkit-transition: none; }

      // Thumb for ON state
      &::after {
        -webkit-transform: translate3d($switch-height / 2, 0, 0);
        right: $switch-height;
        left: inherit;
        content: ' ';
      }

      // Thumb for active state
      &:active::after { width: $switch-thumb-diameter; }
    }
  }
}
