* {
  box-sizing: border-box;
}
html {
  color: #4D4D4D;
  font-family: 'Roboto';
  margin: 0;
  input {
    font-family: 'Roboto';
  }
}
body {
  margin: 0;
}
header {
  height: 100px;
  #pia {
    text-align: center;
    img {
      margin-top: 25px;
      width: 119px;
      height: 44px;
    }
    strong {
      font-weight: bold;
    }
    .top {
      font-size: 2em;
      font-weight: 800;
      margin-bottom: 2px;
    }
  }
  .head.left {
    float: left;
    .icon {
      margin-right: 10px !important;
    }
  }
  .head.right {
    float: right;
    overflow: auto;
    .icon {
      margin-right: 10px !important;
    }
  }
  .head {
    .icon {
      background-size: cover;
      &:hover {
        cursor: pointer;
      }
    }
    .icon.support {
      width: 20px;
      height: 18px;
      background-image: url(../images/help_2x.png);
      margin: 36px 0 0 10px;
      &:hover {
        background-image: url(../images/help_hover_2x.png);
      }
    }
    .icon.settings {
      width: 20px;
      height: 20px;
      background-image: url(../images/settings_2x.png);
      margin: 20px 0 0 10px;
      &:hover {
        background-image: url(../images/settings_hover_2x.png);
      }
    }
    .icon.diagnostics {
      width: 20px;
      height: 20px;
      background-image: url(../images/diagnostics_2x.png);
      margin: 14px 0 0 10px;
      &:hover {
        background-image: url(../images/diagnostics_hover_2x.png);
      }
    }
  }
}
.auth {
  input {
    display: block;
    border-radius: 6px;
    border: thin solid #ccc;
    width: 90%;
    margin: auto;
    padding: 10px 10px 10px 30px;
    font-size: .9em;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }
  .field {
    margin-bottom: 15px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
    }
  }
  #emailField {
    &::before {
      background: url(../images/email_2x.png) no-repeat;
      width: 14px;
      height: 10px;
      top: 16px;
      left: 24px;
      background-size: cover;
    }
  }
  #passField {
    &::before {
      background: url(../images/lock_2x.png) no-repeat;
      width: 10px;
      height: 14px;
      top: 14px;
      left: 26px;
      background-size: cover;
    }
  }
  input.submit {
    background-color: #29CC41;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
  #forgot {
    font-size: .7em;
    text-align: center;
    margin-top: 8px;
    a {
      color: #ccc;
      text-decoration: none;
    }
  }
  #signup {
    margin-top: 55px;
    text-align: center;
  }
  .text {
    font-size: .8em;
  }
  .button {
    margin: 8px auto;
    background-color: #29ABE2;
    border-radius: 6px;
    padding: 10px;
    width: 90%;
    font-size: .9em;
    font-weight: 400;
    color: white;
    box-sizing: border-box;
    &:hover {
      cursor: pointer;
    }
  }
}
.connection {
  border-top: thin solid #F2F0F2;
  .status-title {
    margin-top: 16px;
    color: #C7C8CA;
    font-size: .9em;
    text-align: center;
  }
  .status {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
  }
  .status.red {
    color: #E4756F;
  }
  .status.blue {
    color: #6DC4EB;
  }
  .status.green {
    color: #77CC81;
  }
  .toggle {
    margin-top: 20px;
    color: white;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    .toggle-bg {
      width: 200px;
      height: 80px;
      border-radius: 50px;
      margin: auto;
    }
    .toggle-bg.red {
      background-color: #D3382C;
    }
    .toggle-bg.blue {
      background-color: #29ABE2;
    }
    .toggle-bg.green {
      background-color: #29CC41;
    }
    .toggle-circle {
      background-color: white;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: absolute;
      top: 9px;
    }
    .toggle-circle.left {
      left: 60px;
    }
    .toggle-circle.mid {
      left: 38%;
    }
    .toggle-circle.right {
      right: 60px;
    }
  }
  #region {
    margin-top: 32px;
    padding: 15px 12px 20px 25px;
    font-size: 1em;
    font-weight: 300;
    border-top: thin solid #F2F2F2;
    border-bottom: thin solid #F2F2F2;
    .flag {
      float: left;
      margin: 5px 12px 0 0;
      img {
        width: 60px;
      }
    }
    &:hover {
      cursor: pointer;
    }
    .title {
      color: #B8B8B8;
      font-size: .8em;
    }
    .name {
      font-size: 1.2em;
      font-weight: 500;
    }
    .select {
      float: right;
      margin: 10px;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
  #settings-button {
    padding-top: 14px;
    margin-right: 7px;
    height: 35px;
    &:hover {
      cursor: pointer;
    }
    .text {
      color: #B8B8B8;
      font-weight: 400;
      float: right;
    }
  }
  #settings {
    display: none;
    border-top: thin solid #F2F2F2;
    height: 100px;
  }
  .block {
    border-bottom: thin solid #F2F2F2;
    padding: 16px 12px;
    .text {
      color: #999;
    }
    span.span {
      color: #666;
    }
  }
  .block.last {
    border-bottom: 0;
  }
  #subscription {
    .sub-status {
      float: right;
    }
  }
}
#settings {
  padding-top: 6px;
  .field {
    .right {
      float: right;
    }
    .sub {
      font-size: .65em;
      font-style: italic;
      color: #999;
    }
    label {
      display: inline-block;
    }
    input[type='text'] {
      width: 50px;
      &:focus {
        outline: none;
      }
    }
  }
}
#region-grid {
  .region {
    padding: 12px;
    height: 30px;
  }
  cursor: pointer;
  max-height: 444px;
  min-height: 444px;
  overflow-y: scroll;
  .name {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  .heart {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 20px;
    height: 17px;
    z-index: 10;
  }
  .flag {
    float: left;
    img {
      height: 40px;
      border: 1px solid #ddd;
    }
  }
}
.grid-item-latency {
  font-size: 11px;
  color: #999;
  margin-bottom: 10px;
}
.server-offline-text {
  font-size: 11px;
  color: #999;
  margin-bottom: 10px;
  color: #dd0000;
}
.regionwrapper {
  .grid-item-latency {
    margin-top: -12px;
  }
  .server-offline-text {
    margin-top: -12px;
  }
  padding: 15px 0px;
}
.regionrow {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  margin: 0 !important;
  &:last-child {
    margin-bottom: 10px !important;
  }
}
.regionbox {
  flex: 1;
  max-width:43%;
  margin: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: -5px;
  &:nth-child(even) {
    margin-left: -5px;
  }
  &:hover {
    border: 2px solid #39b54a;
  }
}
.regionbox.active {
  border: 2px solid #39b54a;
  &:before {
    width: 35px;
    height: 35px;
    content: "";
    display: block;
    background: url(../images/selected_2x.png) no-repeat;
    position: absolute;
    top: -10px;
    right: -10px;
    background-size: contain;
  }
}
#tabs {
  .tab {
    .icon.back {
      width: 24px;
      height: 24px;
      background-image: url(../images/back_2x.png);
    }
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    border: thin solid #F2F0F2;
    border-right: 0;
    padding: 10px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    &:last-child {
      border-right: thin solid #F2F0F2;
    }
    &:hover {
      cursor: pointer;
      background-color: #F2F0F2;
    }
    .text {
      display: inline-block;
      vertical-align: top;
      font-size: .9em;
      margin-top: 4px;
    }
    img {
      margin: 2px 5px 0 0;
    }
  }
  .tab.active {
    background-color: #F2F0F2;
  }
}
#tabs.half {
  .tab {
    width: 50%;
  }
}
.diagnostics {
  #tabs {
    .tab {
      background-color: #F2F0F2;
      &:hover {
        background-color: white;
      }
    }
    .tab.active {
      background-color: white;
    }
  }
}
#ping {
  padding-top: 12px;
  .field {
    padding: 12px;
    .right {
      float: right;
    }
  }
  .radios {
    text-align: center;
    margin-top: 12px;
  }
  .radio {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    label {
      margin-left: 4px;
    }
  }
  .input {
    margin-top: 12px;
    overflow: auto;
    text-align: center;
    padding-bottom: 24px;
    border-bottom: thin solid #ccc;
    input {
      width: 200px;
      padding: 8px 12px;
      border-radius: 3px;
      border: thin solid #ccc;
      margin-top: 2px;
      &:focus {
        outline: none;
      }
    }
    .go {
      display: inline-block;
      vertical-align: top;
      margin-left: 12px;
      background-color: #29CC41;
      color: white;
      padding: 8px 12px;
      border-radius: 3px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .output {
    textarea {
      width: 100%;
      border: 0;
      height: 136px;
      padding: 10px;
      resize: none;
      box-sizing: border-box;
      &:focus {
        outline: none;
      }
    }
  }
}
#debug {
  .output {
    textarea {
      width: 100%;
      border: 0;
      height: 136px;
      padding: 10px;
      resize: none;
      box-sizing: border-box;
      height: 300px;
      &:focus {
        outline: none;
      }
    }
  }
  .foot {
    box-sizing: border-box;
    overflow: auto;
    padding: 0 12px;
    height: 48px;
    .open {
      color: #71C4E2;
      margin-top: 8px;
      &:hover {
        cursor: pointer;
      }
    }
    .submit {
      &:hover {
        cursor: pointer;
      }
    }
  }
  .submit {
    float: right;
    background-color: #29CC41;
    color: white;
    padding: 8px 12px;
    border-radius: 3px;
  }
}

.panelfooter {
  font-size: 10px;
  text-align: center;
}
