@import "colors";
@import "roboto_font";

body { font-family: "Roboto", Helvetica, Arial, sans-serif; font-size: 12px; }
h1  { margin: 10px 0; }

.container {
  margin: auto;
  max-width: 750px;

  #PIALogo {
    text-align: center;
    margin: 75px 0 100px;

    img { max-width: 210px; }
  }

  .left-container, .right-container {
    float: left;
    width: 50%;
    padding: 0px;
  }

  .left-container {
    text-align: center;

    img {
      max-width: 300px;
      margin-right: 50px;
    }
  }

  .right-container {
    text-align: left;

    #title {
      font-size: 2.75em;
      margin-bottom: 0px !important;
    }

    #error {
      color: #666;
      font-size: 13px;
      line-height: 2;
    }

    #message {
      color: #818181;
      font-weight: normal;
      font-size: 15px;
      line-height: 1.7;
      margin-top: 20px;

      .error-message {
        margin-bottom: 20px;
      }
    }

    .btn {
      font-weight: 500;
      font-size: 12pt;
      text-decoration: none;
      text-transform: uppercase;
      width: 100px;
      padding: 10px 15px;
    }
  }
}

@media (max-width: 750px) {
  .container {
    .left-container, .right-container {
      float: none;
      width: 100%;
      text-align: center;
    }

    .left-container {
      img { max-width: 200px; margin: 0; }
    }

    .right-container {
      #message { padding: 0px 30px; }
    }
  }
}
