#authenticated-template {
  .connection {
    border-top: thin solid #F2F0F2;

    .external-buttons {
      margin: 5px 7px;
      padding: 10px 25px;
      height: 50px;

      a:hover { color: $white; }

      .btn-icon {
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: 0px 0px;
        width: 30px;
        height: 30px;
        float: left;
        cursor: pointer;
        border: none;
        margin-left: 60px;
        background-color: #fff;

        &:hover {
          background-color: #fff;
          background-position: 0px -30px;
        }

        &:active {
          background-color: #fff;
          background-position: 0px -30px;
        }

        &.btn-account { background-image: url('/images/account_2x.png'); }
        &.btn-help { background-image: url('/images/help_2x.png'); }
        &.btn-logout { background-image: url('/images/logout_2x.png'); }
      }
    }
  }
}
