#bypasslist-template {
  max-height: 580px;
  overflow: auto;

  .bypass-wrap {
    padding: 15px;


    // shared within component
    .introtext {
      font-size: 11px;
      color: #888;

      strong {
        font-weight: 500;
        color: #555355;
        text-decoration: underline;
      }
    }

    .bl_sectionheader {
      font-size: 13px;
      color: #333;
      font-weight: 500;
      display: block;
      clear: both;

      &.instructions { margin-bottom: 5px; }
    }


    // popularrules.jsx
    .popular {
      display: block;
      clear: both;
      overflow: hidden;

      // popularrule.jsx
      .popular-rule {
        padding: 7px 15px 2px 15px;
        border-radius: 25px;
        margin: 0 5px 5px 0;

        label {
          font-weight: 400;
          font-size: 13px;
          padding-top: 1px;

          &.popular-rule-name { text-transform: capitalize; }
        }

        .checkmarkcontainer { margin-right: 0px; }

        .checkbox-container {
          float: right;
          text-alijgn: right;
          margin-right: 0px;
          padding-right: 20px;
        }
      }
    }

    // userrules.jsx
    .add-container {
      display: flex;
      margin-top: 10px;
      align-items: center;

      .add-rule-input{
        margin: 0 auto;
        width: 100%;
        height: 35px;
        padding: 5px 10px;
        font-size: 13px;
        border: 1px solid #D2D0D2;
        outline: none;
        border-radius: 3px;

        &:hover, &:focus {
          border: 1px solid #bbbbbb;
        }
      }

      .add-rule-btn {
        width: 36px;
        height: 32px;
        border-radius: 100px;
        background-color: #67C069;
        border: 0;
        color: #fff;
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px 0 15px;

        &:hover, &:active, &focus {
          outline: none;
          background: #53AA52;
        }

        > p {
          pointer-events: none;
          margin: 0;
        }
      }
    }

    // userrules.jsx
    .otherlist {
      padding: 5px 10px 10px 10px;
      font-size: 13px;
      border: 1px solid #D2D0D2;
      border-radius: 3px;
      outline: none;
      height: 150px;
      overflow-y: auto;
      width: 100%;
      margin-top: 10px;

      hr {
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
        opacity: .5;
      }

      // bypassitem.jsx
      .otherbypassitem {
        color: #888;
        border-bottom: 1px solid #eee;
        padding: 2px 0 8px 0;

        .name {
          width: calc(100% - 30px);;
          display: inline-block;
          padding-left: 10px;
          text-overflow: ellipsis;
          word-wrap: break-word;
          vertical-align: middle;
        }

        .rem {
          width: 16px;
          height: 20px;
          background-image: url('../images/delete@2x.png');
          background-size: 11px;
          background-position: 2px 10px;
          background-repeat: no-repeat;
          display: inline-block;
          margin-left: 10px;
          cursor: pointer;

          &:hover {
            background-position: 2px -10px;
          }
        }
      }
    }
  }
}
