#change-region-template {
  max-height: 580px;

  .regionfilter {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    margin: 0px;

    // this should be under the regionsorter component
    #dropdownMenu1 {
      width: 90%;
      text-align: left;
      background: #fff;
      outline: none;
      span:first-child { color: #999; }

      .caret {
        margin-top: -11px; // 8.5px
        float: right;
      }

      & + .dropdown-menu {
        width: 90%;

        & > li > a:hover, & > li > a:focus { background-color: #e8f1e9; }
      }
    }

    // this should be under the regionviewtoggles component
    #list-icon {
      background-image: url('/images/list_icon_2x.png');
      background-repeat: no-repeat;
      background-size: 38px;
      background-position: center 0px;
      background-color: #fff;
      width: 38px;
      height: 33px;
      float:left;
      border: 1px solid #ccc;
      padding: 10px;

      &:hover {
        cursor: pointer;
        background-position: center -31px;
      }

      &.active {
        cursor: pointer;
        background-position: center -62px;
        border: 1px solid #39b54a;
      }
    }

    // this should be under the regionviewtoggles component
    #grid-icon {
      background-image: url('/images/grid_icon_2x.png');
      background-repeat: no-repeat;
      background-size: 38px;
      background-position: center 0px;
      background-color: #fff;
      width: 38px;
      height: 33px;
      float:left;
      border: 1px solid #ccc;
      padding: 10px;
      margin-left:-1px;

      &:hover {
        cursor: pointer;
        background-position: center -31px;
      }

      &.active {
        cursor: pointer;
        background-position: center -62px;
        border: 1px solid #39b54a;
      }
    }
  }

  .favorite-region-selector {
    padding: 5px 15px;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;

    button {
      outline: 0;
      border: 0px;
      border-left: 1px solid #fafafa;
      border-right: 1px solid #fafafa;
      color: #888;
      padding: 7px 24px;
      font-size:12px;
      background-color: transparent;

      &:first-child { margin-right: 0px; }

      &.active {
        color: #666;
        font-weight: 500;
        border: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        background-color: #fff;
        border-radius: 3px 3px 0 0;
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
        font-size: 12px;
        padding: 7px 24px;
      }
    }
  }

  #regions {
    // used in region view
    .latency-green { color: #1FAB19 !important; }
    .latency-orange { color: #F5A623 !important; }
    .latency-red { color: #BB1227 !important; }

    .server-offline-text {
      font-size: 11px;
      color: #999;
      margin-bottom: 10px;
      color: #dd0000;
    }

    #region-list {
      max-height: 350px;
      min-height: 350px;
      overflow: auto;
      margin: 0;

      a {
        display: flex;
        align-items: center;
        padding: 10px 20px;

        &:first-child { border-top: 0; }

        &.active {
          background-color: $blue;
          border-color: $blue;

          .list-item-latency, .server-offline-text { color: #fff !important; }
        }

        .heart {
          width: 20px;
          height: 17px;
          margin-right: 10px;
        }

        .flag {
          height: 24px;
          width: 40px;
          margin: 0px 10px 0px 0px;
          border: 1px solid #ddd;
        }

        .regionnamelist {
        	max-width: 200px;
          display: inline-block;
          white-space: nowrap;
        	overflow: hidden;
        	text-overflow: ellipsis;
        }

        .list-item-latency {
          display: inline-block;
          float: right;
          font-size: 11px;
          color: #999;
          line-height: 2;
          text-align: right;
          width: 55px;
        }
      }
    }

    #region-grid {
      max-height: 350px;
      min-height: 350px;
      overflow-y: auto;

      .regionrow {
        display: flex;
        margin: 0;

        &:last-child { margin-bottom: 10px; }

        .regionbox {
          flex: 1;
          max-width:43%;
          margin: 20px;
          border: 2px solid #ddd;
          border-radius: 5px;
          margin-bottom: -5px;
          cursor: pointer;

          &:nth-child(even) { margin-left: -5px; }

          &:hover { border: 2px solid #39b54a; }

          &.active {
            border: 2px solid #39b54a;

            &:before {
              width: 35px;
              height: 35px;
              content: "";
              display: block;
              background: url('../images/selected_2x.png') no-repeat;
              position: absolute;
              top: -10px;
              right: -10px;
              background-size: contain;
            }
          }

          .regionwrapper {
            padding: 15px 0px;

            .heart {
              position: absolute;
              top: 8px;
              left: 8px;
              width: 20px;
              height: 17px;
              z-index: 10;
            }

            .flag {
              float: left;

              img {
                height: 40px;
                border: 1px solid #ddd;
              }
            }

            .name {
              margin-top: 5px;
              margin-bottom: 10px;
              text-align: center;
            }

            .grid-item-latency {
              color: #999;
              font-size: 11px;
              margin-top: -12px;
              margin-bottom: 10px;
            }

            .server-offline-text { margin-top: -12px; }
          }
        }
      }
    }
  }
}
