#login-template {
  .dont-have-an-account { margin: 10px 0px 5px 0px; }

  .btn-signup {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 30px;
    background: $orange;
    border-color: $orange;

    &.disabled {
      opacity: 0.65;
      cursor: not-allowed;

      &:hover, &:active, &:focus {
        background: $orange;
      }
    }

    &:hover, &:active, &:focus {
      text-decoration: none;
      background: #dd8114;
    }
  }
}
